Discrete_Mathematics/Karno/*
/[А-я]*
/**/[А-я]*
Informatics/Lab3/Weather.py
.idea/*
/**/.idea/*
.~lock*
/**/.~lock*
/OPD/bcomp-ng.jar
/Programming/Lab3/Lab3/out/*
/Programming/Lab3/Lab3/Lab3.iml
/Programming/Lab3/Lab3spring/out/*
/Programming/Lab3/Lab3spring/Lab3spring.iml
/Programming/Lab3/Lab3spring/lib/*
Informatics/Labs/Lab5backup.docm
