Discrete_Mathematics/Karno/*
/[А-я]*
/**/[А-я]*
Informatics/Lab3/Weather.py
.idea/*
/**/.idea/*
.~lock*
/**/.~lock*
/OPD/bcomp-ng.jar
/Programming/Lab3/out/*
/Programming/Lab3/.idea/*
/Programming/Lab3/Lab3.iml
